
main{

  position: absolute;
  top:20%;
  left:30%;
  right: 30%;
  bottom:30%;

.grid-container{
display: grid;
  grid-template-columns: 200px 200px 200px;

  background-color:transparent;
}

app-square {
  border: 1px gray solid;
  height: 200px;
  background-color: brown;
}

}
